.gallery {
    padding: 6rem 0; 
    text-align: center;

    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 2rem;
        margin-top: 2rem;
    }

    &__person1, &__person2 {
        position: relative;
    
    }
  
    &__img--active {
    
        background-color: blue;
        opacity: .4;
    }

    &__btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 33;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
        display: none; 

        &--active {
            display: block;
        }

        &--arrow {
            transform: rotate(-45deg);
        }
    }

    &__info {
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        color: $almostBlack;
        z-index: 33;
        font-size: 2rem;
        display: none;

        &--active {
            display: block;
        }
    }

    &__name {
        font-family: $Poppins;
        font-size: 1.8rem;
        text-align: center;
        font-weight: $bold;
        letter-spacing: 1px;
    }

    &__role {
        font-family: $Nunito;
        font-size: 1.3rem;
        font-weight: $extra-bold;
        text-transform: uppercase;
        text-align: center;
    }

}

.menu {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    &__item {
        padding-right: 2rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        padding-bottom: 2rem;

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        font-family: $Nunito;
        color: $unactiveFontGrey; 
        font-weight: $bold;
        
        &:hover {
            color: $almostBlack;
            font-weight: $extra-bold;
            border-bottom: 2px solid $almostBlack;
        }
    }
}

// *MEDIA

@media all and (max-width: 767px){
   .gallery {
       padding: 3rem 0;
   }
}

