html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

.huge-container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    
}

.container {
    margin: 0 auto;
    padding: 2rem 3rem;
}