.navbar {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 48rem;
        height: 34rem;
        z-index: 0;
    }
}

.nav__aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 30rem; 
    padding: 3rem;
    height: 100vh;
    border: 3px solid $almostBlack;
    z-index: 45;
    background-color: white;
    visibility: hidden;
    transition: all 1s linear;
}

.animateMe {
    
        -webkit-animation: from-left 2s;
                animation: from-left 2s;
        visibility: visible;
}

@-webkit-keyframes from-left {
    from {
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        visibility: hidden;
    }
    to {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        visibility: visible;
    }
  }
  
  @keyframes from-left {
    from {
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        visibility: hidden;
    }
    to {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        visibility: visible;
    }
  }

.close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    i {
        font-size: 3rem;
    } 
}

.navbar__container {
    position: sticky;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;    
}

.navbar__logo {
    max-width: 80%;
    max-height: 80%;
    padding-right: 8rem;
}

.nav {
    &__hamburger {
        border: none;
        background: transparent;
        outline: none; 
        cursor: pointer;
        transition: all .5s;
        padding-right: 1.5rem;

        &:hover {
            transform: scale(1.8);
        }

        i {
            font-size: 2rem;
            color: black;
        }
    }

    &__item {
        font-size: 1.6rem;
        font-family: $Nunito;
        color: $almostBlack; 
        font-weight: $bold;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 2rem;
        transition: all .5s;

        &:hover {
            border-bottom: 3px solid $almostBlack;
        }
    }  
}

.nav__menu {

    li {
        padding: 2rem;

        .nav__item--mob {    
            font-size: 1.6rem;
            font-family: $Nunito;
            color: $almostBlack; 
            font-weight: $bold;
            text-transform: uppercase;
            text-decoration: none;
            transition: border-bottom .5s;

            &:hover {
                border-bottom: 3px solid $almostBlack;
            }
        }
    }
}

.search {
    font-size: 1.8rem;
    font-family: $Nunito;
    color: $almostBlack; 
    font-weight: $bold;
    text-decoration: none;
}

@media all and (max-width: 767px){
    .nav__item {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }
}