.main {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 37.5rem;
        height: 36rem;
        z-index: 0;
    }
}


.navbar {
    position: sticky;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    z-index: 1;
}

