//fonts

$Nunito: 'Nunito', sans-serif;
$Poppins: 'Poppins', sans-serif;


//weight 

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$huuuge: 900;

//colors

$almostBlack: #1a1a1d;
$niceBlue: #b4d3d3;
$hoverBlue: #5a7777;
$unactiveFontGrey: #696970;
$textGrey: #77777e;

//mixin 

@mixin border {
    border: 1px solid red; 
}