.footer {
    margin-top: 5rem; 

    &__up, &__down {
        display: flex; 
        align-items: center;
    }

    &__newsletter {
        margin-left: auto;
        font-weight: $huuuge;
        text-transform: uppercase;
    }

    &__logo {
        width: 80%;
    }

    &__link {
        text-decoration: none;
        font-size: 1.4rem;
        font-family: $Nunito;
        color: $almostBlack;
    }
    &__envelope {
        font-size: 1.5rem;
        font-weight: $huuuge;
        margin: 0 1rem;
    }

    &__info {
        font-size: 1.2rem;
        font-family: $Nunito;
        color: #77777e;
    }

    &__socialmedia {
        margin-left: auto;
        display: flex;
    }

    &__links {
        color: $almostBlack;
        display: inline-block;
        margin: 1rem;
    }

    &__sm {
        font-size: 1.8rem;
    }




}

.divider {
    height: 2px;
    width: 98%;
    margin: 2rem auto;
    background-color: #f5f5f5;
}

