.header {
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20rem 70rem auto;

    &__aside {
        position: relative;
    }
}

.person {
    position: relative;
    z-index: 20;
    background-image: url('../assets/personHome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 46.7rem;
    max-width: 70rem;

    &__who {
        position: absolute;
        top: 35%;
        left: -10%;
        z-index: 25;
    }

    &__name {
        font-size: 7rem;
        font-family: $Poppins;
        color: $almostBlack;
        width: 24rem;
    }

    &__occupation {
        font-size: 1.5rem;
        font-family: $Nunito;
        color: $almostBlack;
        font-weight: $bold;
        text-transform: uppercase;
        line-height: 1.7;
        padding-top: 2rem;
    }

    &__btns {

        &--1 {
            font-family: $Nunito;
            font-size: 1.4rem;
            font-weight: $bold;
            letter-spacing: 1px;
            color: white;
            text-transform: uppercase;
            text-align: center;
            background-color: $niceBlue;
            width: 17rem;
            height: 6.5rem;
            outline: none;
            border: none;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            left: -17rem;
            z-index: 20;

            &:hover {
                background-color: #5a7777;
            }
        }

        &--2 {
            font-size: 3rem;
            color: $almostBlack;
            background-color: white;
            height: 6.5rem; 
            width: 7rem;
            outline: none;
            border: none;
            cursor: pointer;
            position: absolute;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 25;

            &:hover {
                color: #ee119d;
            }
        }
    }
}

.pag {
    position: relative;
    z-index: 15;

    &__box {
        position: absolute;
        bottom: 0;
        left: 10%;
    }

    &__item {
        padding: 2rem;
    }

    &__link {
        text-decoration: none;
        cursor: pointer;
        font-size: 1.2rem;
        font-family: $Nunito;
        font-weight: $bold;
        color: $unactiveFontGrey; 
        display: flex;
        align-items: center;

        &:hover {
            color: $almostBlack;
            font-weight: $huuuge;
        }
    }

    &__link--active {      
        color: $almostBlack; 
        font-weight: $huuuge;
    }

    &__line {
        width: 2.8rem;
        height: .2rem;
        background-color: transparent;
        display: inline-block;
        margin-bottom: .3rem;
    }

    &__line--active {
        width: 2.8rem;
        height: .2rem;
        background-color: $almostBlack;
        display: inline-block;
        margin-bottom: .3rem;
        margin-left: 3rem;
    }
}

.social {
    position: absolute;
    top: 0;
    left: 0;
    
    &__item {
        padding-bottom: 2rem;
    }

    &__link {
        text-decoration: none;
        color: $almostBlack;

        i {
            font-size: 1.5rem;
        
            &:hover {
                color: #ee119d
            }
        }
    }
}

.aside__pag {
    position: absolute;
    bottom: 40%;
    left: -15%; 
    transform: rotate(-90deg);
}

.aside__number {
    font-size: 1.2rem;
    font-family: $Nunito;
    font-weight: $huuuge;
    color: $almostBlack; 
}

.aside__line {
    width: 3.8rem;
    height: .2rem;
    background-color: $almostBlack;
    display: inline-block;
    margin-bottom: .3rem;
    margin-left: 3rem;
}


// ? media

@media all and (min-width: 1371px){
    html {
        font-size: 80%;
    }
}

@media all and (min-width: 1701px) {
    .header {
        grid-template-columns: 30rem 85rem auto;
    }

    .person {
        height: 66.7rem;
        max-width: 85rem;
    }
}

@media all and (max-width: 1100px){
    .header {
        grid-template-columns: 13rem 55rem auto;
    }

    .person {
        height: 46.7rem;
        max-width: 55rem;

        &__who {
            top: 35%;
        }

        &__name {
            font-size: 5rem;
        }
    }

    .person__btns--1{
        width: 10rem; 
        left: -10rem;
    }

    .pag__line, .pag__line--active {
        display: none;
    }

    .pag__item {
        padding-left: 1rem;
    }
}

@media all and (max-width: 767px) {
    .header__aside, .pag {
        display: none;
    }

    .header {
        display: block;
    }

    .person {
        margin: 0 auto;
        max-width: 60rem;
        background-position: center center;
    
        &__who {
            left: 0;
            top: .8%;
        }

        &__name {
            font-size: 3rem;
        }

        &__occupation {
            font-size: 1.2rem;
            padding-top: .5rem;
        }

        &__btns--1 {
            display: none;
        }
    }
}