.client {

    padding-top: 0;

    &__header {
        position: relative;
        height: 100vh;
        display: flex;

        &--left {
            width: 60%;
            height: 100vh;
            background-image: url("../../assets/bg_client.png");
            background-size: content;
            position: relative;
            z-index: 1;
        }

        &--right {
            width: 40%;
            height: 100vh;
            position: relative;
            z-index: 1;
        }
    }

    &__pag {
        position: absolute;
        top: 50%;
        left: -3%; 
        transform: rotate(-90deg);
        z-index: 3;
    }

    

    &__number {
        font-size: 1.2rem;
        font-family: $Nunito;
        font-weight: $huuuge;
        color: $almostBlack; 
    }

    &__line {
        width: 3.8rem;
        height: .2rem;
        background-color: $almostBlack;
        display: inline-block;
        margin-bottom: .3rem;
        margin-left: 3rem;
    }
}

.client__header .social {
    z-index: 3;
}

.lead {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 20%;
    width: 80%;
    height: 50%;
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;

    &__img {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 20%;
        background-image: url("../../assets/carol-oliver-SEopPfow6Tg-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 90%;
        height: 50%;
    }

    &__title {
        font-size: 5rem;
        font-family: $Poppins;
        color: $almostBlack;
        text-transform: capitalize;
        font-weight: $medium;
    }

    &__subtitle {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: $bold;
        font-family: $Nunito;
        color: $almostBlack;
        line-height: 1.8;
        padding: 2rem 0;
    }
    
    &__btn {
        width: 18rem;
        height: 4rem;
        background-color: $niceBlue;
        color: white;
        font-weight: $bold;
        text-transform: uppercase;
        text-align: center;
        font-family: $Nunito;
        font-size: 1.4rem;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: $hoverBlue;
        }
    }
}


// ** media 

@media all and (max-width: 767px){
    .client {
        &__pag {
            display: none;
        }
    }

}