

.social--about {
    position: absolute;
    top: 20rem;
    left: 2rem;
    z-index: 2;
}

.about {
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 0;
    width: 100%;
    display: flex;

    &__photo {
        background-image: url("../../assets/craig-mckay-jmURdhtm7Ng-unsplash.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 52rem;
        height: 75rem;
        position: relative;
        z-index: 1;
    }

    &__btn--contact {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        border: none;
        outline: none;
        background-color: $niceBlue;
        color: white;
        font-size: 1.4rem;
        letter-spacing: 2px;
        font-family: $Nunito;
        font-weight: bold;
        text-transform: uppercase;
        width: 17rem;
        height: 5.5rem;

        &:hover {
            background-color: $hoverBlue;
        }
    }

    &__text {
        padding: 0 2rem;
        margin-top: 8rem;
    }

    &__title {
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-family: $Poppins;
        color: $almostBlack;
        max-width: 47rem;
    }

    &__paragraph {
        margin: 2rem 0; 
        font-size: 1.6rem;
        font-family: $Nunito;
        color: $textGrey;
        max-width: 57rem;
        line-height: 1.7;
    }

    &__quote {
        background-color: $almostBlack;
        color: white;
        line-height: 1.5;
        font-size: 2rem;
        padding: 3rem;
        margin-top: 3rem;
        max-width: 28rem;
        display: inline-block; 
        text-align: center;
        text-transform: capitalize;
        font-weight: $regular;
    }

    &__block {
        margin-left: auto;
        height: 50vh; 
    }
}

.letter {
    font-size: 6rem;
    padding-right: .5rem;
}

.word {
    font-weight: $bold;
    font-style: italic;
}

@media all and (max-width: 1100px){
    .about {
        &__block {
            display: none; 
        }

        &__title {
            font-size: 2rem;
        }

        &__paragraph {
            font-size: 1.4rem;
        }
    }

    .letter {
        font-size: 4.8rem;
        padding-right: .5rem;
    }
}

@media all and (max-width: 760px){
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;

        &__text {
            margin: 3rem auto;
            padding: 0 3rem;
            width: 100%;
        }

        &__title {
            font-size: 2.4rem;
            max-width: 200rem;
        }

        &__paragraph {
            font-size: 1.8rem;
            max-width: 300rem;
        }
    }
}

@media all and (max-width: 520px){
    .about__photo {
        width: 32rem;
        height: 55rem;
        background-size: contain;
    }
}

.slider {
    margin: 3rem auto;
    position: relative; 
    width: 100%;

    &__wrapper {
        overflow: auto; 
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    &__btn--prev, &__btn--next {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        margin: 0 2rem;
        z-index: 10;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        border: none;
        outline: none;

        &:hover {
            background-color: $almostBlack;
        }

        span {
            &:hover {
                color: white;
            }
        }
    }

    &__btn--prev {
        top: 45%;
        left: 0;
        
    }

    &__btn--next {
        top: 50%;
        right: 0;
        // transform: translate(-50%, -50%);
    }

    &__items {
        display: grid;
        grid-gap: 4rem;
        grid-auto-flow: column;
        margin: auto;
        box-sizing: border-box;
    }

    &__item {
        width: 30rem;
        height: 45rem;
    }
}

.item {
    &__wrapper {
        position: relative;
        z-index: 0;
    }

    &__description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #bad6d6;
        opacity: 0;
        transition: all .6s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            opacity: .8;
            transition: all .6s;
        } 
    }

    &__btn {
        margin: 1rem 1rem 1rem auto;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: $almostBlack;
        }

        span {
            &:hover {
                color: white;
            }
        }
    }

    &__info {
        text-align: center;
        margin-bottom: 2rem;
        color: $almostBlack;
        z-index: 33;
    }

    &__name {
        font-family: $Poppins;
        font-size: 1.8rem; 
        font-weight: $bold;
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }

    &__role {
        font-family: $Nunito;
        font-size: 1.3rem;
        font-weight: $extra-bold;
        text-transform: uppercase;
    }
}