

.social--about {
    position: absolute;
    top: 20rem;
    left: 2rem;
    z-index: 2;
}

.about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // &__photo {

    // }

    &__block {
        height: 50%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
    }
    &__title {
        font-size: 1.8rem;
        font-family: $Poppins;
        font-weight: $medium;
        color: $almostBlack;
        max-width: 45rem;
        display: flex;
        align-items: center;
        line-height: 1.4;
    }

    &__letter {
        font-size: 6rem;
    }

    &__paragraph {
        font-size: 1.4rem;
        font-family: $Nunito;
        color: $textGrey;
        line-height: 1.6;
        max-width: 50rem;
        padding: 1rem;
    }

    &__quote {
        padding: 4rem;
        margin-left: 1rem;
        margin-top: 2rem;
        background-color: $almostBlack;
        color: white;
        font-weight: $regular;
        text-align: center;
        font-size: 2.5rem;
        font-family: serif;
        font-style: italic;
        line-height: 1.5;
        max-width: 35rem;
        text-transform: capitalize;
    }
}

.bold {
    font-weight: $huuuge;
}

